<h1>Map</h1>
<noscript>JavaScript wird für die Darstellung dieser Seite benötigt!</noscript>
<div id='map' class="map"><p>Auf dieser Map siehst du deinen aktuellen Standort. Wenn du auf einen Ort auf dieser Karte drückst,
    siehst du wieviel Kilometer Luftlinie du von diesem Ort entfernt bist.</p></div>
<div id='loading'>
	<p>Trying to load map</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/geolocation.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.1.1/ol-debug.js" type="text/javascript"></script>
	
