{{ navbar }}
<main id="main">
    <section id="messageField">
        <ul id="messages"></ul>
    </section>
    <form action="" id="messageForm">
        <input id="m" autocomplete="off" data-emojiable="true" placeholder="Gib hier deine Nachricht ein!" autofocus
               required/>
        <button id="sendmsg">Send</button>
    </form>
    <script src="/javascript/chatFunctions.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        const socket = new WebSocket('ws://{{ host }}:{{ port }}/socket', 'chat');

        $('#messageForm').submit(function () {

            var msg = {
                name: document.getElementById("navuser").innerHTML,
                message: $('#m').val() };

            socket.send(JSON.stringify(msg));

            $('#m').val(''); // clear input field

            return false //don't reload
        });

        socket.addEventListener('open', function(event) {
            var msg = {
                name: document.getElementById("navuser").innerHTML,
                message: ">>> logged in <<<" };
            socket.send( JSON.stringify(msg) );
        });

        socket.addEventListener('message', function(event) {
            var msg = JSON.parse(event.data)
            $('#messages').append($('<li>').text( msg["name"] + ": " + decodeURI(msg["message"]) ));
            document.getElementById("m").focus();
            storeChat();
        });

    </script>
</main>
