.build/
/.idea
/cmake-build-debug
/CMakeLists.txt
/log.log
log.log
profiles

node_modules
.idea
/profiles
/Wichtig!!!.txt
/logs
*.aux

Würde LICENSE löschen
Würde Sources/exe/model/session.swift löschen
